@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  font-family: "Poppins", sans-serif;
  color: #444444;
  background-color: #F19240;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

header .q-btn .q-icon, .q-btn .q-spinner{
  font-size: 19px;
}

footer .q-tab__icon{
  font-size: 18px;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.box {
    width: 600px;
    height: 440px;
    /* background-color: #c9c9c9; */
    border-radius: 4px;
    color: black;
}
.box .col-xs-12 {
  margin-bottom: 20px;
}

.box .col-xs-12 p{
  font-size: 12px;
  color: #824d27
}

.box .q-field__label{
  font-size: 13px;
}

/*--------------------------------------------------------------
# home
--------------------------------------------------------------*/
.container {
  color: black;
}

.card{
  margin: 6px;
  height: 140px;
}

.box-welcome{
  padding: 20px;
}

.box-welcome p{
  margin: 0;
}

.box-welcome .user-name{
  font-size: 26px;
  font-weight: bold;
}

.img-user{
  width: 65px;
  height: auto;
  position: absolute;
  right: 30px;
  top: 100%;
  transform: translate(0, -75%);
  border-radius: 50%;
}