@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #4e4e4e;
  background-color: #ffffff;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

header .q-btn .q-icon, .q-btn .q-spinner{
  font-size: 19px;
}

footer .q-tab__icon{
  font-size: 18px;
}

.q-toolbar__title{
  font-size: 20px;
  font-weight: bold;
}

/* .q-loading::before{
  opacity: 1;
}

.q-inner-loading{
  background: rgb(255 255 255);
} */
/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.box {
    width: 450px;
    height: 440px;
    /* background-color: #c9c9c9; */
    border-radius: 4px;
    color: black;
}
.box .col-xs-12 {
  margin-bottom: 20px;
}

.box .col-xs-12 p{
  font-size: 12px;
  color: #727272
}

.box .q-field__label{
  font-size: 13px;
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.text-menu {
  color: #727272;
}

.text-menu a:hover{
  color: #21ad9f;
}

.box-user{
  background: #f2844e ;
  padding: 40px 20px 10px 20px;
}

.box-user .q-img{
  width: 60px;
  height: auto;
}

.box-user .nome{
  color:#ffffff;
  font-size: 18px;
  margin: 10px 0 0 0;
}

.box-user .atuacao{
  color: #353535;
  margin: 2px 0 0 0;
}

/*--------------------------------------------------------------
# home
--------------------------------------------------------------*/
.container {
  color: black;
}

.card{
  color: rgb(0, 0, 0);
  margin: 6px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
  /* box-shadow: none; */
}

.box-welcome{
  padding: 20px;
}

.box-welcome p{
  margin: 0;
}

.box-welcome .user-name{
  font-size: 26px;
  font-weight: bold;
}

.img-user{
  width: 65px;
  height: auto;
  position: absolute;
  right: 30px;
  top: 100%;
  transform: translate(0, -75%);
  border-radius: 50%;
}

.top-menu{
  height: 15px;
  width: 100%;
}

.q-tab-panels {
  background: none;
}

.contador{
  font-size: 32px;
}

.text-subtitle2{
  margin: 8px 0;
}

.text-subtitle3{
  font-size: 16px;
  font-family: "Nunito",sans-serif;
  margin: 2px 0;
  color: #727272;
}

.q-table__card{
  box-shadow: none;
}

.subtitle-head{
  color: #b4b3b3;
  font-size: 14px;
  margin: 20px 0 0 0;
}

.membro-avatar img{
  width: 45px;
  border-radius: 10px;
}

.q-field--error .q-icon {
  visibility: hidden;
}

.required-alert{
  font-size: 11px;
}
